<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body ng-app="myApp" ng-controller="myAppController">
    <div class="">
        <input type="text" ng-model="name">
        <input type="text" ng-model="phone">
        <button type="button" name="button" ng-click="handleClick()">Submit</button>
        <h1 > {{name}} </h1>
        <h1> {{phone}}</h1>

    </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular.min.js"></script>
<!-- <scripts src="main.js"></script> -->
<script>
var app =angular.module('myApp',[]);
    app.controller('myAppController', ['$scope', function($scope){
        $scope.name;
        $scope.phone;
         $scope.handleClick= function(){
             console.log($scope.name);
             console.log($scope.phone);

        }

    }]);

</script>
</body>
</html>
